.block-slider-01 {
  .section-inner {
    overflow: hidden;

    .section-main {
      padding-top: 80px;
      padding-bottom: 120px;
      background: linear-gradient(90deg, #222 13px, transparent 1%) center,
        linear-gradient(#222 13px, transparent 1%) center, #6d6d6d;
      background-size: 15px 15px;
    }
    .owl-carousel {
      padding: 0 100px;
      .owl-stage-outer {
        overflow: visible;
        .owl-stage {
          // transition: all 0.68s !important;
        }
      }
      .owl-item:not(.active.center) {
        .post {
          .post__text {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            backface-visibility: hidden;
          }
        }
      }
      .owl-item {
        .post {
          align-items: center;
          margin-top: 0;
          .post__text {
            width: 80%;
            text-align: center;
          }
        }
      }
      .owl-item.center {
        .post {
          margin-top: 80px;
        }
      }
      .owl-item.center + .owl-item {
        .post {
          margin-top: 160px;
        }
      }
    }
    .container {
      width: 1170px;
    }
  }
}

.post--vertical-slider {
  transition: all 0.4s;
  flex-direction: column-reverse;
  .post__text {
    transition: all 0.5s;
  }
  .post__thumb {
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
  }
}

.owl-dot-normal.owl-theme {
  .owl-dots {
    .owl-dot {
      span {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid $color-white;
        background-color: transparent;
        transition: all 0.4s;
      }
      &.active {
        span {
          background-color: $color-white;
        }
      }
    }
  }
}

@media (max-width: 1680px) {
}

@media (max-width: 1545px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1199px) {
  .block-slider-01 {
    .section-inner {
      .container {
        width: 970px;
      }
    }
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
  .block-slider-01 {
    .section-inner {
      .section-main {
        padding-top: 60px;
        padding-bottom: 60px;
      }
      .owl-carousel {
        padding: 0 30px;
        .owl-item {
          .post {
            .post__text {
              width: 100%;
            }
          }
        }
        .owl-item.center {
          .post {
            margin-top: 60px;
          }
        }
        .owl-item.center + .owl-item {
          .post {
            margin-top: 120px;
          }
        }
      }
      .container {
        width: 750px;
      }
    }
  }
}

@media (max-width: 860px) {
}

@media (max-width: 767px) {
  .block-slider-01 {
    .section-inner {
      .section-main {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .owl-carousel {
        padding: 0;
        .owl-item.center {
          .post {
            margin-top: 50px;
          }
        }
        .owl-item.center + .owl-item {
          .post {
            margin-top: 100px;
          }
        }
      }
      .container {
        width: 100%;
      }
    }
  }
}

@media (max-width: 680px) {
}

@media (max-width: 575px) {
  .block-slider-01 {
    .section-inner {
      .section-main {
        padding-top: 40px;
        padding-bottom: 35px;
      }
      .owl-carousel {
        .owl-item.center {
          .post {
            margin-top: 35px;
          }
        }
        .owl-item.center + .owl-item {
          .post {
            margin-top: 70px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 380px) {
}

@media (max-width: 320px) {
}
