.listing-grid-no-sidebar-01 {
  .section-inner {
    .section-main {
      width: 60.68%;
      overflow: hidden;
    }
    .section-sub {
      width: 39.32%;
      padding-left: 40px;
    }
  }
}

.post--horizontal-xl {
  align-items: center;
  .post__thumb {
    margin-right: 30px;
  }
}

.post--overlay-normal {
  padding-top: 15px;
  .post__text {
    .post__text-inner {
      padding: 30px;
      .post__cat {
        position: absolute;
        top: 0;
        left: 0;
        border: 5px solid $color-white;
        margin-left: 20px;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 1680px) {
}

@media (max-width: 1545px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
  .listing-grid-no-sidebar-01 {
    .section-inner {
      .section-main {
        width: 100%;
      }
      .section-sub {
        width: 100%;
        padding-left: 0;
        margin-top: 40px;
        .posts-list {
          > * {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .listing-grid-no-sidebar-01 {
    .section-inner {
      .section-sub {
        .post--overlay {
          height: 400px;
        }
      }
    }
  }
}

@media (max-width: 860px) {
}

@media (max-width: 767px) {
  .post--horizontal-xl {
    .post__thumb {
      margin-right: 20px;
    }
    .post__excerpt {
      display: none;
    }
  }
  .post--overlay-normal {
    .post__text {
      .post__text-inner {
        padding: 20px;
      }
    }
  }
  .listing-grid-no-sidebar-01 {
    .section-inner {
      .section-sub {
        margin-top: 30px;
        .posts-list {
          > * {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
}

@media (max-width: 575px) {
}

@media (max-width: 480px) {
  .post--horizontal-xl {
    .post__thumb {
      margin-right: 15px;
    }
  }
  .listing-grid-no-sidebar-01 {
    .section-main {
      .posts-list {
        margin: -10px;
        > * {
          padding: 10px;
        }
      }
    }
  }
  .post--overlay-normal {
    .post__meta {
      display: none;
    }
  }
}

@media (max-width: 420px) {
}

@media (max-width: 380px) {
}

@media (max-width: 320px) {
}
