.block-module-03 {
  padding-top: 80px;
  background: linear-gradient(90deg, #222 13px, transparent 1%) center,
    linear-gradient(#222 13px, transparent 1%) center, #6d6d6d;
  background-size: 15px 15px;
  overflow: hidden;
  .section-inner {
    .section-main {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 85px;
      align-items: center;
      .post-main {
        width: 64.9635036496%;
      }
      .post-sub {
        flex: 1;
        padding-left: 80px;
      }
      @media (max-width: 1080px) {
        .post-main {
          width: 100%;
        }
        .post-sub {
          flex: 1;
          padding-left: 0px;
          margin-top: 40px;
        }
      }
    }
    .section-sub {
      .slider-wrap {
        display: flex;
        align-items: center;
        overflow: hidden;
        .owl-carousel {
          background-color: $color-white;
          display: flex;
          width: 100vw;
          .owl-stage {
            display: flex;
          }
          .owl-nav {
            display: none;
          }
          @media (min-width: 576px) {
            .owl-dots {
              display: none;
            }
          }
          @media (min-width: 680px) {
            .post {
              width: 575px;
            }
          }
          @media (max-width: 679.98px) {
            .post {
              width: calc(100vw - 100px);
            }
          }
          @media (max-width: 575.98px) {
            .owl-dots {
              display: flex;
              flex-direction: column;
              position: absolute;
              left: -42.5px;
              top: 50%;
              transform: translateY(-50%);
              .owl-dot span {
                transition: all 0.3s;
                height: 15px;
                width: 15px;
                background-color: transparent;
                border: 1px solid $color-primary;
              }
              .owl-dot.active span {
                background-color: $color-primary;
              }
            }
            .post {
              width: calc(100vw - 15px);
            }
          }
        }
        @media (max-width: 575.98px) {
          .owl-carousel {
            margin-left: 0;
          }
        }
      }
    }
  }
  .block-heading-normal .block-heading__title::after {
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-white;
  }
}

.post--horizontal-text-margin {
  .post__thumb {
    width: 55.0561797753%;
    height: 700px;
  }
  .post__text {
    margin-right: -17.9775280899%;
  }
  @media (max-width: 1080px) {
    .post__thumb {
      height: 500px;
    }
  }
}

.carousel-nav-custom-holder {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  > * {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $color-white;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $color-primary;
      > i {
        color: $color-white;
      }
    }
    > i {
      font-size: 20px;
      font-weight: 600;
      transition: all 0.3s;
    }
  }
  .owl-prev {
    margin-bottom: 10px;
  }
  .owl-next {
    margin-top: 10px;
  }
}

@media (max-width: 767.98px) {
  .post--horizontal-text-margin {
    flex-direction: column !important;
    .post__thumb {
      width: 100%;
      height: 400px;
      margin-bottom: 20px;
    }
    .post__text {
      margin-right: 0;
      width: 100%;
    }
    @media (max-width: 1080px) {
      .post__thumb {
        height: 500px;
      }
    }
  }
  .carousel-nav-custom-holder {
    padding-right: 40px;
  }
}

@media (max-width: 575.98px) {
  .post--horizontal-text-margin {
    .post__thumb {
      height: 350px;
    }
  }
  .block-module-03 {
    padding-top: 80px;
  }
  .carousel-nav-custom-holder {
    display: none;
  }
}

@media (max-width: 480.98px) {
  .post--horizontal-text-margin {
    .post__thumb {
      height: 300px;
    }
  }
}

@media (max-width: 420.98px) {
  .post--horizontal-text-margin {
    .post__thumb {
      height: 280px;
    }
  }
}

@media (max-width: 320.98px) {
  .post--horizontal-text-margin {
    .post__thumb {
      height: 260px;
    }
  }
}

.post--vertical-cat-translate {
  padding-top: 21px;
  .post__cat {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    border: 5px solid $color-bg;
    border-radius: 10px;
  }
}

@media (max-width: 1080px) and (min-width: 768px) {
  .post--vertical-cat-translate {
    flex-direction: row;
    align-items: center;
    padding-top: 21px;
    .post__cat {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 20px;
      border: 5px solid $color-bg;
      border-radius: 10px;
    }
    .post__thumb {
      margin-right: 20px;
    }
  }
}

@media (max-width: 1080px) and (min-width: 992px) {
  .block-module-03 .container-lg {
    max-width: 940px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.post--horizontal-sm {
  transition: all 0.3s;
  align-items: center;
  .post__thumb {
    margin-right: 20px;
  }
}
@media (max-width: 420.98px) {
  .post--horizontal-sm {
    padding: 15px !important;
    .post__thumb {
      margin-right: 10px;
    }
  }
}

@media (min-width: 576px) {
  .post--horizontal-sm {
    &:hover {
      background-color: $color-primary;
      .post__title {
        color: $color-white;
      }
      .post__cat {
        color: $color-white;
      }
      .post__meta > * {
        color: $color-white;
      }
    }
  }
}
