.list-page {
  margin-top: 30px;
}

@media (max-width: 991.98px) {
  .list-page {
    .section-inner {
      .posts-list {
        > * {
          width: 50%;
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
  .list-page {
    .section-inner {
      .posts-list {
        > * {
          width: 100%;
        }
      }
    }
  }
}
