.post--vertical-reverse-thumb-aside {
  flex-direction: column-reverse;
  .post__content-group {
    display: flex;
    .post__meta {
      flex: 1;
      align-self: flex-end;
      .post__readmore {
        svg line {
          transition: all 0.3s;
        }
        &:hover svg line {
          stroke: $color-primary;
        }
      }
    }
  }
  .post__thumb {
    margin-top: 60px;
  }
  .post__title {
    transition: all 0.3s;
    text-transform: capitalize;
    &:hover {
      color: $color-primary;
    }
  }
}

.listing-grid-no-sidebar-02 {
  .post--vertical-reverse-thumb-aside {
    padding-top: 40px;
    height: 100%;

    .post__text {
      flex: 1;
    }
  }
  .section-inner {
    overflow: hidden;
    .posts-list {
      margin: 0 -40px -60px -40px;
      .list-item {
        position: relative;
        padding: 0 40px 60px 40px;
      }
      .list-item:nth-child(2n - 1) {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      .list-item:nth-child(2n + 1):not(:first-child):before {
        content: "";
        position: absolute;
        width: calc(100% * 2 - 40px * 2);
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        top: 0;
        left: 40px;
        right: 40px;
      }
    }
  }
}

@media (max-width: 1680px) {
}

@media (max-width: 1545px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
}

@media (max-width: 860px) {
}

@media (max-width: 767px) {
  .listing-grid-no-sidebar-02 {
    .post--vertical-reverse-thumb-aside {
      padding-top: 0;
    }
    .section-inner {
      .posts-list {
        margin: -20px 0;
        .list-item {
          padding: 20px 0;
        }
        > * {
          width: 100%;
        }
        .list-item:nth-child(2n - 1) {
          border-right: none;
        }
        .list-item:nth-child(2n + 1):not(:first-child):before {
          display: none;
        }
      }
    }
  }
  .post--vertical-reverse-thumb-aside {
    .post__content-group {
    }
    .post__thumb {
      margin-top: 10px;
    }
    .post__meta {
      display: none;
    }
  }
}

@media (max-width: 680px) {
}

@media (max-width: 575px) {
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 380px) {
}

@media (max-width: 320px) {
}
